{% extends "::base.html.twig" %}

{% block title %}AppBundle:App:article{% endblock %}

{% block body %}

    <br>
    <a href="{{ path("articles") }}" class="btn btn-danger">
        <span class="glyphicon glyphicon-chevron-left"></span> Back
    </a>

    <h1>Article information</h1>

    <p>Title: {{ article.name }}</p>
    <p>Description: {{ article.description }}</p>
    <p>Category: {{ article.category }}</p>
    <p>Price: {{ article.price }}</p>
    <p>Available: {{ article.number }}</p>
    <img src="{{ article.imgUrl }}">

    <a class="btn btn-success">
        <span class="glyphicon glyphicon-ok-sign"></span> Add to your cart
    </a>

{% endblock %}
